#!/bin/bash

mysqlpassword='{{ispmail_mysql_mailadmin_password}}'

if [ $# -ne  2 ] ; then
  (>&2 echo "Usage : $0 <from> <to>")
  (>&2 echo "Example static alias : $0 \"jack@example.com\" \"john@example.com\"")
  (>&2 echo "Example wildcard alias: $0 \"adds.*@example.com\" \"john@example.com\"")
  exit
fi

user=$(echo $1 | cut -d '@' -f1)
domain=$(echo $1 | cut -d '@' -f2)

query="INSERT INTO virtual_aliases(domain_id,source,destination,type) VALUES((SELECT id FROM virtual_domains WHERE name='$domain'),'$1','$2','alias');"

$(mysql -u root -p$mysqlpassword mailserver -e "$query")

if [ $? -ne  0 ] ; then
  (>&2 echo "Something went wrong.")
  exit
fi

echo "Alias $1 succesfully created redirecting to $2"
