#!/bin/bash

mysqlpassword='{{ispmail_mysql_mailadmin_password}}'
defaultpassword='{BLF-CRYPT}$2y$05$m.GdQNMyUFNG0vPsaXxSB.0ZQqZhe1e9Un841oBcWi6U6HRF2Kmky' #summersun

if [ $# -ne  1 ] ; then
  (>&2 echo "Usage : $0 <email address to create>")
  (>&2 echo "Example : $0 john@example.com")
  exit
fi

user=$(echo $1 | cut -d '@' -f1)
domain=$(echo $1 | cut -d '@' -f2)

query="INSERT INTO virtual_users(domain_id,password,email,quota) VALUES((SELECT id FROM virtual_domains WHERE name='$domain'),'$defaultpassword','$1',0);"

$(mysql -u root -p$mysqlpassword mailserver -e "$query")

if [ $? -ne  0 ] ; then
  (>&2 echo "Something went wrong.")
  exit
fi

echo "Email $1 succesfully created with password 'summersun'. Please advise user to change it at first login"
