#!/bin/bash

mysqlpassword='{{ispmail_mysql_mailadmin_password}}'

if [ $# -ne  2 ] ; then
  (>&2 echo "Usage : $0 <domain> <to address>")
  (>&2 echo "Example : $0 \"example.com\" \"john@example.com\"")
  exit
fi

user=$(echo $1 | cut -d '@' -f1)
domain=$(echo $1 | cut -d '@' -f2)

query="INSERT INTO virtual_aliases(domain_id,source,destination,type) VALUES((SELECT id FROM virtual_domains WHERE name='$1'),'@$1','$2','catchall');"

$(mysql -u root -p$mysqlpassword mailserver -e "$query")

if [ $? -ne  0 ] ; then
  (>&2 echo "Something went wrong.")
  exit
fi

echo "Catchall for domain $1 succesfully created redirecting to $2"
