#!/bin/bash

mysqlpassword='{{ispmail_mysql_mailadmin_password}}'


if [ $# -ne  1 ] ; then
  (>&2 echo "Usage : $0 <email domain to create>")
  (>&2 echo "Example : $0 example.com")
  exit
fi

user=$(echo $1 | cut -d '@' -f1)
domain=$(echo $1 | cut -d '@' -f2)

query="INSERT INTO virtual_domains(name) VALUES('$1');"

$(mysql -u root -p$mysqlpassword mailserver -e "$query")

if [ $? -ne  0 ] ; then
  (>&2 echo "Something went wrong.")
  exit
fi

echo "Domain $1 succesfully created"
