#!/bin/bash

mysqlpassword='{{ispmail_mysql_mailadmin_password}}'


if [ $# -ne  1 ] ; then
  (>&2 echo "Usage : $0 <email address to delete>")
  (>&2 echo "Example : $0 john@example.com")
  exit
fi

query="DELETE FROM virtual_users WHERE email='$1';"

$(mysql -u root -p$mysqlpassword mailserver -e "$query")

if [ $? -ne  0 ] ; then
  (>&2 echo "Something went wrong.")
  exit
fi

echo "Email $1 succesfully deleted"

