#!/bin/bash

mysqlpassword='{{ispmail_mysql_mailadmin_password}}'


if [ $# -ne  1 ] ; then
  (>&2 echo "Usage : $0 <email domain to delete>")
  (>&2 echo "Example : $0 example.org")
  exit
fi

query="DELETE FROM virtual_domains where name='$1';"

$(mysql -u root -p$mysqlpassword mailserver -e "$query")

if [ $? -ne  0 ] ; then
  (>&2 echo "Something went wrong.")
  exit
fi

echo "Domain $1 successfully deleted"

