#!/bin/bash

mysqlpassword='{{ispmail_mysql_mailadmin_password}}'


if [ $# -ne  1 ] ; then
  (>&2 echo "Usage : $0 <email alias to delete>")
  (>&2 echo "Example : $0 john@example.com")
  exit
fi

query="DELETE FROM virtual_aliases where source='$1' and type='alias';"

$(mysql -u root -p$mysqlpassword mailserver -e "$query")

if [ $? -ne  0 ] ; then
  (>&2 echo "Something went wrong.")
  exit
fi

echo "Alias $1 successfully deleted"

