user = mailserver
password = {{ispmail_mysql_mailserver_password}}
hosts = 127.0.0.1
dbname = mailserver
query = SELECT email AS target FROM virtual_users
            WHERE (email = '%s' OR email = CONCAT(SUBSTRING_INDEX('%u', '+', 1), '@%d')) AND EXISTS (SELECT id FROM virtual_domains WHERE name = SUBSTRING_INDEX('%s', '@', -1))
        UNION
        SELECT s.destination AS target FROM virtual_aliases AS s
            WHERE s.source = '%s' OR s.source = CONCAT(SUBSTRING_INDEX('%u', '+', 1), '@%d') AND s.type IN ('alias', 'forward')
        UNION
        SELECT s.destination AS target FROM virtual_aliases AS s
            WHERE CONCAT(SUBSTRING_INDEX('%u', '+', 1), '@%d') LIKE REPLACE(s.source,'*','%%') AND s.type IN ('alias', 'forward')
        UNION
        SELECT s.destination AS target FROM virtual_aliases AS s
            WHERE s.source = '@%d' AND s.type = 'catchall'
        LIMIT 1
