<VirtualHost *:443>
  ServerName {{ispmail_fqdn}}
  DocumentRoot /var/lib/roundcube

  <Directory /var/lib/roundcube>
    Require all granted
  </Directory>

  # Adminer
  Alias /adminer /usr/share/adminer/adminer
  <Directory /usr/share/adminer/adminer>
    Options Indexes FollowSymLinks
    AllowOverride None
{% for ip in ispmail_admin_ips.v4 %}
    Require ip {{ ip }}
{% endfor %}
{% for ip in ispmail_admin_ips.v6 %}
    Require ip6 {{ ip }}
{% endfor %}
  </Directory>

  # Roundcube
  Include /etc/roundcube/apache.conf

  # Mail client auto-configuration
  Alias /.well-known/autoconfig/mail /var/www/html/autoconfig-mail


  <Location /rspamd>
    Options Indexes FollowSymLinks
    AllowOverride None
{% for ip in ispmail_admin_ips.v4 %}
    Require ip {{ ip }}
{% endfor %}
{% for ip in ispmail_admin_ips.v6 %}
    Require ip6 {{ ip }}
{% endfor %}
  </Location>

  ProxyPass /rspamd/ http://localhost:11334/
  ProxyPassReverse /rspamd/ http://localhost:11334/

  RewriteEngine on
  RewriteRule ^/rspamd$ /rspamd/ [R,L]

  SSLEngine on
  SSLCertificateKeyFile /etc/letsencrypt/live/{{ispmail_fqdn}}/privkey.pem
  SSLCertificateFile /etc/letsencrypt/live/{{ispmail_fqdn}}/fullchain.pem
</VirtualHost>
